<% layout('boilerplate/boilerplate') %>

<div
  class="card mx-auto"
  style="
    width: 25rem;
    width: 35rem;
    padding: 8px;
    background-color: linear-gradient(to left, #77ecf7, #ffffff);
  "
>
  <img src="/bankCartoon.png" class="card-img-top" alt="..." />
  <div class="card-body">
    <form class="needs-validation" method="post" action="/login" novalidate>
      <div class="mb-3"></div>
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        aria-describedby="username"
        name="username"
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          required
        />
      </div>
      <div class="valid-feedback">Looks good!</div>
      <button type="submit" class="btn btn-secondary">Log in</button>
      <p class="text-muted mt-2 mb-0">
        Don't have an account? <a href="register">SignUp</a>
      </p>
    </form>
  </div>
</div>

<style>
  .btn {
    width: 100px;
    height: 40px;
    margin-top: 8px;
    margin-bottom: 18px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.521);
    border-radius: 4px;
  }

  .card {
    transition: box-shadow 0.3s ease;
  }

  .card:hover {
    box-shadow: 0 4px 10px rgba(0, 128, 255, 0.5);
  }
</style>
