<% layout('boilerplate/boilerplate') %>
<div
  class="card mx-auto"
  style="
    width: 35rem;
    padding: 8px;
    background-color: linear-gradient(to left, #77ecf7, #ffffff);
  "
>
  <img src="/bankCartoon.png" class="card-img-top" alt="..." />
  <div
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    "
  >
    <div class="card-body" style="text-align: start; align-items: start">
      <form
        class="needs-validation"
        style="background-color: linear-gradient(to left, #77ecf7, #ffffff)"
        method="post"
        action="/register"
        novalidate
      >
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
            name="email"
            required
          />
          <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div>
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3"></div>
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          aria-describedby="username"
          name="username"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
          />
        </div>
        <div class="valid-feedback">Looks good!</div>
        <div class="mb-3 form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="exampleCheck1"
            required
          />
          <label class="form-check-label" for="exampleCheck1"
            >I agree to the
            <a
              href="https://app.termly.io/builder/websites/9c9e659e-002c-4cf1-98df-cb3cf472f893/documents/4386832/Purchases%20and%20Payments/Payments"
              >TOS</a
            ></label
          >
          <div class="invalid-feedback">Please agree to the TOS.</div>
        </div>
        <div>
          <button
            <button
            type="submit"
            class="btn btn-secondary"
            style="align-items: center; text-align: center"
          >
            Sign Up
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<style>
  .btn {
    width: 100px;
    height: 40px;
    margin-top: 3px;
    margin-bottom: 18px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.521);
    /* background: linear-gradient(to right, #77ecf7, #ffffff); */
    border-radius: 4px;
  }
  .card {
    transition: box-shadow 0.3s ease;
  }
  .card:hover {
    box-shadow: 0 4px 10px rgba(0, 128, 255, 0.5);
  }
</style>
