<% layout('boilerplate/boilerplate') %>

    <div class="card mb-3">
        <img src="https://images.unsplash.com/photo-1589190632370-dcc9388aab4b?q=80&w=2040&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="card-img-top" alt="image of a bank">
        <div class="card-body text-center">
            <h5 class="card-title">
                    Account Secret ID: <%= user._id %>
        </h5>

            <h5 class="card-title">Username: <%= user.username %>
            </h5>
            <h5 class="card-title d-inline-block">Balance: <%= user.balance %>
            </h5>
            <form class="d-inline-block" action="/dummyaddtransaction" method="post"><button
                    class="btn btn-outline-dark ms-2">+</button></form>
            
           
        </div>
    </div>