<% layout('boilerplate/boilerplate') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="body">
    <!-- <main class="container mt-0">
      <div class="bg">
        <img
          src="/bank.jpg"
          class="bg-img text-center"
          style="transform: scale(0.87)"
        />
        <div class="home">
          <div class="text-center">
            <h1
              style="
                transform: scale(1.4);
                margin-bottom: 40px;
                margin-top: 25px;
              "
            >
              PrimeVault
            </h1>
            <h2 class="my-3">
              Empowering Your Financial Future with Trust, Security, and
              Personalized Solutions.
            </h2>
            <a href="/register" class="btn btn-secondary">Register</a>
          </div>
        </div>
      </div>
    </main> -->
    <main class="container mt-5">
      <div class="card">
        <div class="first">
          <!-- <h1>PrimeVault</h1> -->
           <img src="/prime vault logo.jpg" style="width: 40%; margin-bottom: 10px;">
          <h5>
            Empowering Your Financial Future with Trust, <br> Security, and Personalized Solutions.
          </h5>
          <a href="/register" class="btn btn-secondary">Sign Up</a>
        </div>
        <img
          src="/bankCartoon.png"
          class="second"
        />
      </div>
    </body>
    </main>
    
  <style>

    .first {
      align-items: center;
      margin-top: 60px;
      margin-bottom: 60px;
    }

    .second {
      width: 100%;
      margin-top: 100px;
      margin-bottom: 100px;
      align-items: end;
      align-self: flex-end;
    }

    .card {
      border-radius: 25px;
      padding-left: 120px;
      padding-right: 120px;
      padding-top: 60px;
      padding-bottom: 60px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-items: center;
      background: linear-gradient(to left, #77ecf7, #ffffff);
    }

    .body {
      margin-top: 100px;
    }

    .btn {
      width: 100px;
      height: 40px;
      margin-top: 15px;
      text-align: center;
      color: rgb(0, 0, 0);
      background-color: rgba(255, 255, 255, 0.521);
      /* background: linear-gradient(to right, #77ecf7, #ffffff); */
      border-radius: 4px;
    }
  </style>
</html>
